<<<<<<< HEAD
/* --------RESET-------- */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
=======
body {
		font-family: Helvetica, sans-serif;
		font-size: 0.8em;
		color: #222;
		margin: 0;
		padding: 0;
	}

/* Navigation */

header ul {
	list-style-type: none;
	margin: 0;
	padding: 0;	
>>>>>>> 73579afb0ed6d85deb5de835f36af3b3c5bdde88
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* -----Container-----*/

<<<<<<< HEAD
.container{
	font-size: small;
	font-family: arial, sans-serif;
	box-sizing: border-box;
	
}


/* ------NAV & FOOTER DISPLAY----- */

li {
	list-style: none;
	display: inline-block;

}
li a {
	text-decoration: none;
	color: #666;
}

.left {
	float: left;
}

.right {
	float: right;
}

/* ------Main----- */

main {
	clear: both;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 272px;
	height: 92px;
	padding-top: 160px;
}

form {
	
}
input {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 503px;
	height: 34px;
}

button {

}

/* ------Navigation-----*/

nav {
	padding-top: 23px;
	
}

.navleft a, .navright a{
	padding-left: 25px;
	padding-right: 0;
	color: #000;
}

.navright a{
	padding-right: 25px;
	padding-left: 0px;
	color: #000;
}



/* ------Footer-----*/

footer {
	position: absolute;
	box-sizing: border-box;
	bottom: 0;
	width: 100%;
	padding: 14px;
	background-color: #f2f2f2;
	border-top: 1px solid #e4e4e4;
}

.footerright {
	padding-right: 17px;
	padding-left: 6px;
}

.footerleft {
	padding-left: 17px;
	padding-right: 6px;
}



=======
header li {
	display: inline;
	
}

header li a {
	text-decoration: none;
}


.right {
	float: right;
	display: inline-block;	
}


.left {
	float: left;
	display: inline-block;
}

/* Main */

main {
	text-align: center;
}

.logo img {
	width: 275px;
	clear: both;
}

/* Footer */

footer {
	position: absolute;
		bottom:0;
		width: 1264px;
		border-top: 1px solid #e4e4e4;
		word-spacing: 20px;
		

}

footer ul {
	list-style-type: none;

}

footer li {
	display: inline-block;
}

footer li a {
	text-decoration: none;
}

.endleft {
	float: left;
	display: inline-block;
}

.endright {
	float: right;
	display: inline-block;
}
>>>>>>> 73579afb0ed6d85deb5de835f36af3b3c5bdde88
