/* Navigation */

nav {
	margin: 0;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;	
}

nav li {
	display: inline;
	
}

main {
	text-align: center;
}

.logo img {
	margin-top: 150px;
}

#right {
	float: right;
	display: inline-block;	
}


#left {
	float: left;
	display: inline-block;
}